@page "/"

<NavMenu />

<div class="container mt-3">
    <PageTitle>Inicio</PageTitle>

    <div class="grid">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 mt-sm-2">
                <CardMenu Title="Crear Actividad" Icon="fa-solid fa-calendar-plus fa-3x" Redirect="create" />

            </div>
@*            <div class="col-sm-12 col-md-4 col-lg-4 mt-sm-2">

                <CardMenu Title="Actividad Rechazadas" Icon="fa-regular fa-circle-xmark fa-3x" Redirect="reject" />
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 mt-sm-2">

                <CardMenu Title="Actividades Pendientes de confirmar" Icon="fa-solid fa-hourglass-half fa-3x" Redirect="missing" />
            </div>*@


        </div>
    </div>

</div>


@code{

}